@charset "UTF-8";

.cabezera{
	font-size: 2em;
	margin-bottom: 0,5em;
	
}

.palabras {
    white-space: nowrap; 
    margin:5px;
    color: blue;
}

.espacio{
	margin: 5px;
}

.contenedor {
  max-width: 950px;
  width: 80%;
  margin-bottom: 9em;
  border:solid red;
  background-color: grey;
  color: white;
}

.articulo{
	color: red;

font-family: Verdana, sans-serif;


}